# File types to be ignored by git

# binary python files and objects
*.pyc
*.pyo

# data output and visualisation
*.gif
*.hdf
*.ps
*.gp
*.eps
*.gnup

# tex auxiliary files
*.aux
*.blg
*.log
*.synctex.gz
*.out
*.bbl
*.dvi
*.tex~

# for MacOSX
.DS_Store

# Miscillaneous
*.backup
Docs/Papers/spin2cylinder.pdf
*.rel
*.rel
Docs/Spin2Notes/spin2.pdf

